/* You can add global styles to this file, and also import other style files */
@import url('../src/app/styles/themes/resetCSS');
@import url('../src/app/styles/themes/text');
@import url('../src/app/styles/themes/variables.less');

body{
  color: @main-text;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;

}

