
@import url('../../styles/themes/variables');
.wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: @main-bg;

}
.container{
  display: grid;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.185);
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  gap:50px;
  grid-template-rows: auto 1fr auto;
}


