@_maxWidth: 1600;

.textModifier(@_max, @_min) {
    @_addSize: @_max - @_min;
    @_addMobSize: calc(~"@{_addSize} + "@_addSize * 0.7);

    @media (max-width: 768px) {
        font-size: calc(~"@{_min}px  + "@_addMobSize * ((100vw - 360px) / @_maxWidth));
    }

    @media (min-width: 767px) {
        font-size: calc(~"@{_min}px + "@_addSize * ((100vw - 360px) / @_maxWidth));
    }

    @media (min-width: ~"@{_maxWidth}px") {
        font-size:~"@{_max}px";
    }

}

html {}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


h1 {
    .textModifier(36, 24);
}

h2 {
    .textModifier(36, 24);
    font-weight: 700;
}


h3 {
    .textModifier(24, 20)
}

h4 {
    .textModifier(20, 18);
}

h5 {
    .textModifier(18, 16);
}

h6 {
    .textModifier(16, 14);
}

.text {
    .textModifier(16, 14);
}

.black {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

.ligth {
    font-weight: 300;
}