@import url('../../styles/themes/variables');
:host {
  display: flex;
  justify-content: space-between;
  background-color: @main-bg;
}
.logo{
  font-size: 32px;

}
.header-block{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav{
  ul{
    display: flex;
    gap: 10px;
    li{
      cursor: pointer;
    }
  }
}
